body{
    margin: auto;
    max-width: 450px;
    max-height: 500px;
    font-family: system-ui,sans-serif;
    
}
.container{
    background-image: linear-gradient(to bottom,#d50614,#58000a);
}
ul{
    display: flex;
    flex-direction: column;
    align-items: normal;
}
h1{
    color: white;
    text-align: center;
    font-size: 25px;
}

li {
    list-style-type: disc;
    text-align: left;
    color: white;
}
#btn1 {
    background-color: white;
    color:green;
    font-weight: 950;
    padding: 7px;
    border-radius: 15%;
}
#btn {
    background-color: white;
    color: #58000a;
    font-weight: 950;
    padding: 7px;
    border-radius: 15%;
}
#get{
    margin-left: 10px;
}

span {
    font-weight: bold;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}